body{
	background-image: url(http://images.dailykos.com/images/291750/large/donald-trump-on-fire.gif?1472161051);
	background-size:100%;
	font-family: 'Reenie Beanie', cursive;
}

h1{
	margin-left:10%;
	font-size: 80px;
	color: orange;
	text-align: center
}

h2{
	margin-left:20%;
	font-size: 30px;
	color: red;
}

#start-game{
	padding: 10px;
	color: red;
	font-size: 30px;
	margin: center;
	font-family: 'Reenie Beanie', cursive;
}

#directions{
	display: none;
	color: pink;
	font-size: 40px;
	text-align: center;
	font-family: 'Reenie Beanie', cursive, bold;
}

#directions{
	display: none;
	color: pink;
	font-size: 40px;
	text-align: center;
	font-family: 'Reenie Beanie', cursive, bold;
}

h2{
	display: none;
	color: pink;
	font-size: 60px;
	text-align: center;
	font-family: 'Reenie Beanie', cursive, bold;
}


#hidden-game{
	margin-left:30px;
	display: none;

}


.chosen-word, .bad-guesses{
	display: none;
	padding: 10px;
	color: orange;
	font-size: 40px;
	text-align: center;
	font-family: 'Reenie Beanie', cursive;
}

#guess-input{
	padding:10px;
	font-size:10px;
	margin-top: 30%;
	margin-left: 30%;
}

#guess-button{
	padding:10px;
}

#intro{
	margin-left: 40%;
}