body{
	background-image: url(http://images.dailykos.com/images/291750/large/donald-trump-on-fire.gif?1472161051);
	background-size:100%;
	font-family: 'Rubik Mono One', sans-serif;
	/*background-repeat: no-repeat;	*/
}

#intro{
	margin-left: 30%;
}

#header1{
	margin-left:10%;
	font-size: 80px;
	color: orange;
	text-align: center
	font-family: 'Rubik Mono One', sans-serif;
}

#screen2{
	margin-left:20%;
	position: absolute; top: 0;
	display: none;
	color: pink;
	font-size: 60px;
	text-align: center;
	font-family: 'Reenie Beanie', cursive, bold;
}

#start-game{
	padding: 10px;
	font-size: 30px;
	margin: center;
	background-color: red;
	font-family: 'Rubik Mono One', sans-serif;
	float: center;
}

#directions{
	display: none;
	color: pink;
	font-size: 40px;
	text-align: center;
	font-family: 'Reenie Beanie', cursive, bold;
}


#hidden-game{
	margin-left:30px;
	display: none;
}


.chosen-word, .bad-guesses, .bad-count, .play-again, .lost{
	display: none;
	padding: 10px;
	color: orange;
	font-size: 40px;
	text-align: center;
	font-family: 'Reenie Beanie', cursive;
}

#guess-input{
	padding:10px;
	font-size:10px;
	margin-top: 30%;
	margin-left: 30%;
}

#guess-button{
	padding:10px;
}

.bad-count{
	color: white;
}


.modal-trump, .modal-clinton{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 80%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-background {
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}



